.home {
	.main {
		position: relative;
		width: 100%;
		height: 1010px;
		.slider {
			&-image {
				top: 0;
				object-position: 100% 68.5%;
			}
			&-pagination {
				bottom: 12.07921%;
			}
		}
		&-content,
		.slider-pagination {
			margin-left: 18.22917vw;
		}
		&-content {
			position: absolute;
			z-index: 2;
			top: 34.75247%;
			margin-right: 21.90625vw;
			&__text {
				color: var(--clr-white);
				font-size: 70px;
				font-weight: 600;
			}
			.button {
				margin-top: 5.84158%;
			}
		}
	}
	.about,
	.services {
		display: flex;
	}
	.about,
	.faq {
		padding: 0 18.28125vw;
	}
	.about {
		position: relative;
		flex-direction: column;
		gap: 50px;
		margin: 132px 0 194px;
		.bigtext {
			width: 85.93573vw;
		}
		&-content {
			display: flex;
			justify-content: space-between;
			&__text {
				width: 30.9375vw;
				line-height: 130%;
			}
		}
	}
	.services-block {
		height: 700px;
		width: calc(100% / 3);
		overflow: hidden;
		&__card {
			position: relative;
			height: inherit;
			&:hover {
				transform: scale(1.35);
			}
			.image,
			.background {
				width: 100%;
				height: 100%;
			}
			.background,
			.text {
				position: absolute;
				z-index: 1;
				top: 0;
			}
			.background {
				opacity: .4;
				background-color: var(--clr-black);
			}
			.text {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: var(--clr-white);
			}
		}
	}
	.specialists {
		margin: 133px 0 183px;
		.members {
			margin: 173px 0 80px;
			.card-info {
				display: none;
			}
		}
	}
	.contacts {
		&-content {
			display: flex;
			justify-content: center;
			gap: 5.20833vw;
			margin-bottom: -3px;
			&__card {
				display: grid;
				grid-gap: 18px;
				&-title,
				&-text {
					text-align: center;
				}
				&-text {
					font-size: 30px;
					font-weight: 300;
				}
			}
		}
		&-map {
			width: 100%;
			margin: 139px 0;
		}
	}
	.faq {
		margin: 51px 0 327px;
		&-title {
			margin-bottom: 119px;
			text-align: center;
		}
		&-questions {
			display: flex;
			flex-direction: column;
			gap: 49.5px;
			width: 100%;
			margin: auto;
			.accordion:not(:first-child) {
				padding-top: 49.5px;
				border-top: 1px solid var(--clr-grey);
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.home {
		.main {
			height: 842px;
			&-content__text {
				font-size: 58px;
			}
		}
		.about {
			gap: 41.66667px;
			margin: 110px 0 161.66667px;
		}
		.services-block {
			height: 583px;
		}
		.specialists {
			margin: 110.83333px 0 152.5px;
			.members {
				margin: 144.16667px 0 66.66667px;
			}
		}
		.contacts {
			&-content {
				margin-bottom: -2.5px;
				&__card {
					grid-gap: 15px;
					&-text {
						font-size: 25px;
					}
				}
			}
			&-map {
				margin: 115.83333px 0;
			}
		}
		.faq {
			margin: 42.5px 0 272.5px;
			&-title {
				margin-bottom: 99.16667px;
			}
			&-questions {
				gap: 41.25px;
				.accordion:not(:first-child) {
					padding-top: 41.25px;
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.home {
		.main {
			height: 758px;
			&-content__text {
				font-size: 53px;
			}
		}
		.about {
			gap: 37.5px;
			margin: 99px 0 145.5px;
		}
		.services-block {
			height: 525px;
		}
		.specialists {
			margin: 99.75px 0 137.25px;
			.members {
				margin: 129.75px 0 60px;
			}
		}
		.contacts {
			&-content {
				margin-bottom: -2.25px;
				&__card {
					grid-gap: 13.5px;
					&-text {
						font-size: 22.5px;
					}
				}
			}
			&-map {
				margin: 104.25px 0;
			}
		}
		.faq {
			margin: 38.25px 0 245.25px;
			&-title {
				margin-bottom: 89.25px;
			}
			&-questions {
				gap: 37.125px;
				.accordion:not(:first-child) {
					padding-top: 37.125px;
				}
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.home {
		.main {
			height: 673px;
			&-content {
				margin-right: 18.22917vw;
				&__text {
					font-size: 47px;
				}
			}
		}
		.about {
			gap: 33.33333px;
			margin: 88px 0 129.33333px;
		}
		.services-block {
			height: 467px;
		}
		.specialists {
			margin: 88.66667px 0 122px;
			.members {
				margin: 115.33333px 0 53.33333px;
			}
		}
		.contacts {
			&-content {
				margin-bottom: -2px;
				&__card {
					grid-gap: 12px;
					&-text {
						font-size: 20px;
					}
				}
			}
			&-map {
				margin: 92.66667px 0;
			}
		}
		.faq {
			margin: 34px 0 218px;
			&-title {
				margin-bottom: 79.33333px;
			}
			&-questions {
				gap: 33px;
				.accordion:not(:first-child) {
					padding-top: 33px;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.home {
		.main {
			height: 539px;
			&-content {
				margin-right: 18.90625vw;
				&__text {
					font-size: 37px;
				}
			}
		}
		.about {
			gap: 26.66667px;
			margin: 70.4px 0 103.46667px;
		}
		.services-block {
			height: 373px;
		}
		.specialists {
			margin: 70.93333px 0 97.6px;
			.members {
				margin: 92.26667px 0 42.66667px;
			}
		}
		.contacts {
			&-content {
				margin-bottom: -1.6px;
				&__card {
					grid-gap: 9.6px;
					&-text {
						font-size: 16px;
					}
				}
			}
			&-map {
				margin: 74.13333px 0;
			}
		}
		.faq {
			margin: 27.2px 0 174.4px;
			&-title {
				margin-bottom: 63.46667px;
			}
			&-questions {
				gap: 26.4px;
				.accordion:not(:first-child) {
					padding-top: 26.4px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.home {
		.main {
			height: 522px;
			&-content__text {
				font-size: 36px;
			}
		}
		.about {
			gap: 25.83333px;
			margin: 68.2px 0 100.23333px;
		}
		.services-block {
			height: 362px;
		}
		.specialists {
			margin: 68.71667px 0 94.55px;
			.members {
				margin: 89.38333px 0 41.33333px;
			}
		}
		.contacts {
			&-content {
				margin-bottom: -1.55px;
				&__card {
					grid-gap: 9.3px;
					&-text {
						font-size: 15.5px;
					}
				}
			}
			&-map {
				margin: 71.81667px 0;
			}
		}
		.faq {
			margin: 26.35px 0 168.95px;
			&-title {
				margin-bottom: 61.48333px;
			}
			&-questions {
				gap: 25.575px;
				.accordion:not(:first-child) {
					padding-top: 25.575px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
  .home {
		.main {
			height: 613px;
			.slider-pagination {
				bottom: 73px;
			}
			&-content,
			.slider-pagination {
				margin: 0 8.125vw;
			}
			&-content {
				top: 133px;
				&__text {
					font-size: 30px;
				}
				.button {
					margin-top: 73px;
				}
			}
		}
		.about,
		.faq {
			padding: 0 5vw;
		}
		.about {
			gap: 30px;
			margin: 60px 0 62px;
			&-content {
				flex-direction: column;
				gap: 50px;
				&__text {
					width: 100%;
				}
			}
		}
		.services {
			flex-direction: column;
			&-block {
				height: 270px;
				width: 100%;
				.text {
					font-size: 26px;
				}
			}
		}
		.specialists {
			margin: 60px 0;
			.members {
				height: 302px;
				margin: 30px 0;
			}
		}
		.contacts {
			&-content {
				flex-direction: column;
				gap: 30px;
				margin-bottom: 68px;
				&__card {
					grid-gap: 12px;
					&-text {
						font-size: 16px;
					}
				}
			}
			&-map {
				height: 254px;
				margin: 0;
			}
		}
		.faq {
			margin: 60px 0 83px;
			&-title {
				margin-bottom: 40px;
			}
			&-questions {
				gap: 19.5px;
				.accordion:not(:first-child) {
					padding-top: 19.5px;
				}
			}
		}
  }
}
