.about .main,
.about .currently,
.about .philosophy,
.about .goal-content {
  display: flex;
  padding: 0 18.28125vw;
}
.about .main {
  justify-content: space-between;
  margin: 303px 0 154px;
}
.about .main-text {
  width: 36.35417vw;
}
.about .image {
  height: 576px;
}
.about .currently {
  margin: 113px 0 198px;
}
.about .currently-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 1.5625vw;
  margin-top: 16px;
}
.about .currently-content__title {
  width: 25.52083vw;
}
.about .currently-content__text {
  width: 36.35417vw;
}
.about .currently-content__statictics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 64px 2.08333vw;
}
.about .currently-content__statictics-block {
  display: grid;
  grid-gap: 8px;
}
.about .currently-content__statictics-block .title {
  font-size: 100px;
  font-weight: 600;
}
.about .currently-content__statictics-block .text {
  font-size: 20px;
}
.about .philosophy {
  position: relative;
  height: 805px;
  padding-top: 127px;
  background-color: var(--clr-black);
}
.about .philosophy-content {
  width: 30.88547vw;
}
.about .philosophy-content__subtitle, .about .philosophy-content__title, .about .philosophy-content__text {
  color: var(--clr-white);
}
.about .philosophy-content__subtitle {
  margin: 1px 0 16px;
}
.about .philosophy-content__title {
  margin-bottom: 53px;
}
.about .philosophy .slider-image {
  right: 10.46875%;
  bottom: -7.95032%;
  width: 33.3333333333%;
  height: 92.17391%;
}
.about .philosophy .slider-pagination {
  bottom: 16.02485%;
  left: 18.22917%;
}
.about .goal-content,
.about .currently {
  flex-direction: column;
}
.about .goal {
  text-align: center;
  margin-top: 233px;
}
.about .goal-content {
  gap: 41px;
  margin-bottom: 156px;
}
.about .goal-content__title, .about .goal-content__text {
  width: 52.60417vw;
  margin: auto;
}
.about .goal-image {
  width: 100%;
  height: 576px;
  -o-object-position: 100% 82%;
     object-position: 100% 82%;
}
.about .specialists {
  margin-top: 189px;
}
.about .specialists-content {
  gap: 19px;
}
.about .specialists .members {
  margin: 124px 0 45px;
}
.about .consultation {
  margin: 141px 0 178px;
}

@media screen and (max-width: 1600px) {
  .about .main {
    margin: 252.5px 0 128.33333px;
  }
  .about .image,
  .about .goal-image {
    height: 480px;
  }
  .about .currently {
    margin: 94.16667px 0 165px;
  }
  .about .currently-content {
    margin-top: 13.33333px;
  }
  .about .currently-content__statictics {
    grid-gap: 53.33333px 2.08333vw;
  }
  .about .currently-content__statictics-block {
    grid-gap: 6.66667px;
  }
  .about .currently-content__statictics-block .title {
    font-size: 83px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 17px;
  }
  .about .philosophy {
    height: 670.83333px;
    padding-top: 105.83333px;
  }
  .about .philosophy-content__subtitle {
    margin: 0.83333px 0 13.33333px;
  }
  .about .philosophy-content__title {
    margin-bottom: 44.16667px;
  }
  .about .goal {
    margin-top: 194.16667px;
  }
  .about .goal-content {
    gap: 34.16667px;
    margin-bottom: 130px;
  }
  .about .specialists {
    margin-top: 157.5px;
  }
  .about .specialists-content {
    gap: 15.83333px;
  }
  .about .specialists .members {
    margin: 103.33333px 0 37.5px;
  }
  .about .consultation {
    margin: 117.5px 0 148.33333px;
  }
}
@media screen and (max-width: 1440px) {
  .about .main {
    margin: 227.25px 0 115.5px;
  }
  .about .image,
  .about .goal-image {
    height: 432px;
  }
  .about .currently {
    margin: 84.75px 0 148.5px;
  }
  .about .currently-content {
    margin-top: 12px;
  }
  .about .currently-content__statictics {
    grid-gap: 48px 2.08333vw;
  }
  .about .currently-content__statictics-block {
    grid-gap: 6px;
  }
  .about .currently-content__statictics-block .title {
    font-size: 75px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 15px;
  }
  .about .philosophy {
    height: 603.75px;
    padding-top: 95.25px;
  }
  .about .philosophy-content__subtitle {
    margin: 0.75px 0 12px;
  }
  .about .philosophy-content__title {
    margin-bottom: 39.75px;
  }
  .about .goal {
    margin-top: 233px;
  }
  .about .goal-content {
    gap: 30.75px;
    margin-bottom: 117px;
  }
  .about .specialists {
    margin-top: 141.75px;
  }
  .about .specialists-content {
    gap: 14.25px;
  }
  .about .specialists .members {
    margin: 93px 0 33.75px;
  }
  .about .consultation {
    margin: 105.75px 0 133.5px;
  }
}
@media screen and (max-width: 1280px) {
  .about .main {
    margin: 202px 0 102.66667px;
  }
  .about .image,
  .about .goal-image {
    height: 384px;
  }
  .about .currently {
    margin: 75.33333px 0 132px;
  }
  .about .currently-content {
    margin-top: 10.66667px;
  }
  .about .currently-content__statictics {
    grid-gap: 42.66667px 2.08333vw;
  }
  .about .currently-content__statictics-block {
    grid-gap: 5.33333px;
  }
  .about .currently-content__statictics-block .title {
    font-size: 67px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 13px;
  }
  .about .philosophy {
    height: 536.66667px;
    padding-top: 84.66667px;
  }
  .about .philosophy-content__subtitle {
    margin: 0.66667px 0 10.66667px;
  }
  .about .philosophy-content__title {
    margin-bottom: 35.33333px;
  }
  .about .goal {
    margin-top: 155.33333px;
  }
  .about .goal-content {
    gap: 27.33333px;
    margin-bottom: 104px;
  }
  .about .specialists {
    margin-top: 126px;
  }
  .about .specialists-content {
    gap: 12.66667px;
  }
  .about .specialists .members {
    margin: 82.66667px 0 30px;
  }
  .about .consultation {
    margin: 94px 0 118.66667px;
  }
}
@media screen and (max-width: 1024px) {
  .about .main {
    margin: 161.6px 0 82.13333px;
  }
  .about .image,
  .about .goal-image {
    height: 307px;
  }
  .about .currently {
    margin: 60.26667px 0 105.6px;
  }
  .about .currently-content {
    margin-top: 8.53333px;
  }
  .about .currently-content__statictics {
    grid-gap: 34.13333px 2.08333vw;
  }
  .about .currently-content__statictics-block {
    grid-gap: 4.26667px;
  }
  .about .currently-content__statictics-block .title {
    font-size: 53px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 11px;
  }
  .about .philosophy {
    height: 429.33333px;
    padding-top: 67.73333px;
  }
  .about .philosophy-content__subtitle {
    margin: 0.53333px 0 8.53333px;
  }
  .about .philosophy-content__title {
    margin-bottom: 28.26667px;
  }
  .about .goal {
    margin-top: 124.26667px;
  }
  .about .goal-content {
    gap: 21.86667px;
    margin-bottom: 83.2px;
  }
  .about .specialists {
    margin-top: 100.8px;
  }
  .about .specialists-content {
    gap: 10.13333px;
  }
  .about .specialists .members {
    margin: 66.13333px 0 24px;
  }
  .about .consultation {
    margin: 75.2px 0 94.93333px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about .main {
    margin: 156.55px 0 79.56667px;
  }
  .about .image,
  .about .goal-image {
    height: 298px;
  }
  .about .currently {
    margin: 58.38333px 0 102.3px;
  }
  .about .currently-content {
    margin-top: 8.26667px;
  }
  .about .currently-content__statictics {
    grid-gap: 33.06667px 2.08333vw;
  }
  .about .currently-content__statictics-block {
    grid-gap: 4.13333px;
  }
  .about .currently-content__statictics-block .title {
    font-size: 52px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 10px;
  }
  .about .philosophy {
    height: 415.91667px;
    padding-top: 65.61667px;
  }
  .about .philosophy-content__subtitle {
    margin: 0.51667px 0 8.26667px;
  }
  .about .philosophy-content__title {
    margin-bottom: 27.38333px;
  }
  .about .goal {
    margin-top: 120.38333px;
  }
  .about .goal-content {
    gap: 21.18333px;
    margin-bottom: 80.6px;
  }
  .about .specialists {
    margin-top: 97.65px;
  }
  .about .specialists-content {
    gap: 9.81667px;
  }
  .about .specialists .button {
    margin: 64.06667px 0 23.25px;
  }
  .about .consultation {
    margin: 72.85px 0 91.96667px;
  }
}
@media screen and (max-width: 767px) {
  .about .main,
  .about .currently,
  .about .philosophy,
  .about .goal-content {
    padding: 0 5vw;
  }
  .about .main {
    flex-direction: column;
    gap: 47px;
    margin: 116px 0 50px;
  }
  .about .main-text {
    width: 100%;
  }
  .about .image {
    height: 164px;
  }
  .about .currently {
    margin: 86px 0 142px;
  }
  .about .currently-content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 41px;
    margin-top: 10px;
  }
  .about .currently-content__title, .about .currently-content__text {
    width: 100%;
  }
  .about .currently-content__text {
    font-size: 20px;
  }
  .about .currently-content__statictics {
    grid-gap: 35px 5vw;
  }
  .about .currently-content__statictics-block .title {
    font-size: 60px;
  }
  .about .currently-content__statictics-block .text {
    font-size: 16px;
  }
  .about .philosophy {
    height: 720px;
    padding-top: 25px;
  }
  .about .philosophy-content {
    width: 100%;
  }
  .about .philosophy-content__subtitle {
    margin: 10px 0;
  }
  .about .philosophy-content__title {
    margin-bottom: 24px;
  }
  .about .philosophy .slider-image {
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 39.72222%;
  }
  .about .philosophy .slider-pagination {
    bottom: 45.13889%;
    left: 5%;
  }
  .about .goal {
    margin-top: 74px;
    text-align: left;
  }
  .about .goal-content {
    gap: 45px;
    margin-bottom: 35px;
  }
  .about .goal-content__title, .about .goal-content__text {
    width: 100%;
  }
  .about .goal-image {
    height: 332px;
  }
  .about .specialists {
    margin-top: 87px;
  }
  .about .specialists-content {
    gap: 11px;
  }
  .about .specialists .members {
    margin: 35px 0;
  }
  .about .consultation {
    margin: 70px 0 86px;
  }
}/*# sourceMappingURL=about.css.map */