.projects {
	.image {
		height: 576px;
		&-content {
			object-position: 100% 73%;
		}
	}
	.main {
		padding: 0 18.28125vw;
		&-header,
		&-filter,
		&-projects {
			display: flex;
		}
		&-header {
			align-items: center;
			justify-content: space-between;
			margin-top: 135px;
		}
		&-filter {
			gap: .26042vw;
			margin: 20px 0 59px;
		}
		&-projects {
			flex-wrap: wrap;
			gap: 69px 1.5625vw;
		}
		&-button {
			margin: 128px auto 32px;
		}
	}
	.consultation {
		margin: 127px 0 178px;
	}
}

@media screen and (max-width: 1600px) {
	.projects {
		.image {
			height: 480px;
		}
		.main {
			&-header {
				margin-top: 112.5px;
			}
			&-filter {
				margin: 16.66667px 0 49.16667px;
			}
			&-projects {
				gap: 57.5px 1.5625vw;
			}
			&-button {
				margin: 106.66667px auto 26.66667px;
			}
			.consultation {
				margin: 105.83333px 0 148.33333px;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.projects {
		.image {
			height: 432px;
		}
		.main {
			&-header {
				margin-top: 101.25px;
			}
			&-filter {
				margin: 15px 0 44.25px;
			}
			&-projects {
				gap: 51.75px 1.5625vw;
			}
			&-button {
				margin: 96px auto 24px;
			}
			.consultation {
				margin: 95.25px 0 133.5px;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.projects {
		.image {
			height: 384px;
		}
		.main {
			&-header {
				margin-top: 90px;
			}
			&-filter {
				margin: 13.33333px 0 39.33333px;
			}
			&-projects {
				gap: 46px 1.5625vw;
			}
			&-button {
				margin: 85.33333px auto 21.33333px;
			}
			.consultation {
				margin: 84.66667px 0 118.66667px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.projects {
		.image {
			height: 307px;
		}
		.main {
			&-header {
				margin-top: 72px;
			}
			&-filter {
				margin: 10.66667px 0 31.46667px;
			}
			&-projects {
				gap: 36.8px 1.5625vw;
			}
			&-button {
				margin: 68.26667px auto 17.06667px;
			}
			.consultation {
				margin: 67.73333px 0 94.93333px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.projects {
		.image {
			height: 298px;
		}
		.main {
			&-header {
				margin-top: 69.75px;
			}
			&-filter {
				margin: 10.33333px 0 30.48333px;
			}
			&-projects {
				gap: 35.65px 1.5625vw;
			}
			&-button {
				margin: 66.13333px auto 16.53333px;
			}
			.consultation {
				margin: 65.61667px 0 91.96667px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.projects {
		.image {
			height: 376px;
		}
		.main {
			padding: 0 5vw;
			&-header {
				flex-direction: column;
				align-items: flex-start;
				gap: 30px;
				margin: 40px 0 80px;
			}
			&-projects {
				gap: 40px;
			}
			&-button {
				margin: 40px 0 0;
			}
		}
		.consultation {
			margin: 90px 0 110px;
		}
	}
}
