.projects .image {
  height: 576px;
}
.projects .image-content {
  -o-object-position: 100% 73%;
     object-position: 100% 73%;
}
.projects .main {
  padding: 0 18.28125vw;
}
.projects .main-header, .projects .main-filter, .projects .main-projects {
  display: flex;
}
.projects .main-header {
  align-items: center;
  justify-content: space-between;
  margin-top: 135px;
}
.projects .main-filter {
  gap: 0.26042vw;
  margin: 20px 0 59px;
}
.projects .main-projects {
  flex-wrap: wrap;
  gap: 69px 1.5625vw;
}
.projects .main-button {
  margin: 128px auto 32px;
}
.projects .consultation {
  margin: 127px 0 178px;
}

@media screen and (max-width: 1600px) {
  .projects .image {
    height: 480px;
  }
  .projects .main-header {
    margin-top: 112.5px;
  }
  .projects .main-filter {
    margin: 16.66667px 0 49.16667px;
  }
  .projects .main-projects {
    gap: 57.5px 1.5625vw;
  }
  .projects .main-button {
    margin: 106.66667px auto 26.66667px;
  }
  .projects .main .consultation {
    margin: 105.83333px 0 148.33333px;
  }
}
@media screen and (max-width: 1440px) {
  .projects .image {
    height: 432px;
  }
  .projects .main-header {
    margin-top: 101.25px;
  }
  .projects .main-filter {
    margin: 15px 0 44.25px;
  }
  .projects .main-projects {
    gap: 51.75px 1.5625vw;
  }
  .projects .main-button {
    margin: 96px auto 24px;
  }
  .projects .main .consultation {
    margin: 95.25px 0 133.5px;
  }
}
@media screen and (max-width: 1280px) {
  .projects .image {
    height: 384px;
  }
  .projects .main-header {
    margin-top: 90px;
  }
  .projects .main-filter {
    margin: 13.33333px 0 39.33333px;
  }
  .projects .main-projects {
    gap: 46px 1.5625vw;
  }
  .projects .main-button {
    margin: 85.33333px auto 21.33333px;
  }
  .projects .main .consultation {
    margin: 84.66667px 0 118.66667px;
  }
}
@media screen and (max-width: 1024px) {
  .projects .image {
    height: 307px;
  }
  .projects .main-header {
    margin-top: 72px;
  }
  .projects .main-filter {
    margin: 10.66667px 0 31.46667px;
  }
  .projects .main-projects {
    gap: 36.8px 1.5625vw;
  }
  .projects .main-button {
    margin: 68.26667px auto 17.06667px;
  }
  .projects .main .consultation {
    margin: 67.73333px 0 94.93333px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .projects .image {
    height: 298px;
  }
  .projects .main-header {
    margin-top: 69.75px;
  }
  .projects .main-filter {
    margin: 10.33333px 0 30.48333px;
  }
  .projects .main-projects {
    gap: 35.65px 1.5625vw;
  }
  .projects .main-button {
    margin: 66.13333px auto 16.53333px;
  }
  .projects .main .consultation {
    margin: 65.61667px 0 91.96667px;
  }
}
@media screen and (max-width: 767px) {
  .projects .image {
    height: 376px;
  }
  .projects .main {
    padding: 0 5vw;
  }
  .projects .main-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 0 80px;
  }
  .projects .main-projects {
    gap: 40px;
  }
  .projects .main-button {
    margin: 40px 0 0;
  }
  .projects .consultation {
    margin: 90px 0 110px;
  }
}/*# sourceMappingURL=projects.css.map */