.services .main-content,
.services .including-content,
.services .advantages-content,
.services .packages {
  display: flex;
  margin: 0 18.28125vw;
}
.services .main .image,
.services .advantages .image {
  height: 576px;
}
.services .main .image-content {
  -o-object-position: 100% 68.5%;
     object-position: 100% 68.5%;
}
.services .main-content {
  justify-content: space-between;
  padding: 135px 0 149px;
  margin-right: 16.61458vw;
}
.services .main-content__text {
  width: 36.40625vw;
}
.services .including-content {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 0 154px;
  margin-right: 4.32292vw;
}
.services .including-content__title {
  width: 100%;
  margin-bottom: 61px;
}
.services .including-content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px 2.08333vw;
  width: 30.41667vw;
}
.services .including-content__list-box {
  display: grid;
  grid-gap: 16px;
  width: 14.16667vw;
}
.services .including-content__list-box .title {
  font-family: Sofia Sans;
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;
}
.services .including-content__list-box .text {
  font-size: 20px;
}
.services .including-content__description {
  width: 39.47917vw;
  padding: 125px 5.72917vw;
  border: 1px solid var(--clr-black);
  border-radius: 29px;
  margin-top: 35px;
}
.services .including-content__description .text {
  line-height: 130%;
}
.services .including-content__description .text:last-child {
  font-weight: 700;
  margin-top: 22.6px;
}
.services .including .image {
  height: 492px;
}
.services .including .image-content {
  -o-object-position: 100% 80%;
     object-position: 100% 80%;
}
.services .advantages-content,
.services .packages {
  flex-direction: column;
}
.services .advantages-content {
  gap: 67px;
  width: 60.88542vw;
  padding: 135px 0 211px;
  text-align: center;
}
.services .advantages-content__title {
  width: 45.26042vw;
  margin: auto;
}
.services .advantages-content__list {
  display: flex;
  gap: 4.6875vw;
}
.services .advantages-content__list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.services .advantages-content__list-box .text {
  font-size: 22px;
}
.services .advantages .image-content {
  -o-object-position: 100% 85%;
     object-position: 100% 85%;
}
.services .packages {
  gap: 85px;
  padding-top: 154px;
}
.services .consultation {
  margin: 184px 0 182px;
}

@media screen and (max-width: 1600px) {
  .services .main .image,
  .services .advantages .image {
    height: 480px;
  }
  .services .main-content {
    padding: 112.5px 0 124.16667px;
  }
  .services .including-content {
    padding: 23.33333px 0 128.33333px;
  }
  .services .including-content__title {
    margin-bottom: 50.83333px;
  }
  .services .including-content__list {
    gap: 46.66667px 2.08333vw;
  }
  .services .including-content__list-box {
    grid-gap: 13.33333px;
  }
  .services .including-content__list-box .icon {
    width: 47.5px;
    height: 47.5px;
  }
  .services .including-content__list-box .title {
    font-size: 23px;
    margin-top: 6.66667px;
  }
  .services .including-content__list-box .text {
    font-size: 17px;
  }
  .services .including-content__description {
    padding: 104.16667px 5.72917vw;
    margin-top: 29.16667px;
  }
  .services .including-content__description .text:last-child {
    margin-top: 18.83333px;
  }
  .services .including .image {
    height: 410px;
  }
  .services .advantages-content {
    gap: 55.83333px;
    padding: 112.5px 0 175.83333px;
  }
  .services .advantages-content__list-box {
    gap: 26.66667px;
  }
  .services .advantages-content__list-box .icon {
    width: 72.5px;
    height: 72.5px;
  }
  .services .advantages-content__list-box .text {
    font-size: 18px;
  }
  .services .packages {
    gap: 70.83333px;
    padding-top: 128.33333px;
  }
  .services .consultation {
    margin: 153.33333px 0 151.66667px;
  }
}
@media screen and (max-width: 1440px) {
  .services .main .image,
  .services .advantages .image {
    height: 432px;
  }
  .services .main-content {
    padding: 101.25px 0 111.75px;
  }
  .services .including-content {
    padding: 21px 0 115.5px;
  }
  .services .including-content__title {
    margin-bottom: 45.75px;
  }
  .services .including-content__list {
    gap: 42px 2.08333vw;
  }
  .services .including-content__list-box {
    grid-gap: 12px;
  }
  .services .including-content__list-box .icon {
    width: 42.75px;
    height: 42.75px;
  }
  .services .including-content__list-box .title {
    font-size: 21px;
    margin-top: 6px;
  }
  .services .including-content__list-box .text {
    font-size: 15px;
  }
  .services .including-content__description {
    padding: 93.75px 5.72917vw;
    margin-top: 26.25px;
  }
  .services .including-content__description .text:last-child {
    margin-top: 16.95px;
  }
  .services .including .image {
    height: 369px;
  }
  .services .advantages-content {
    gap: 50.25px;
    padding: 101.25px 0 158.25px;
  }
  .services .advantages-content__list-box {
    gap: 24px;
  }
  .services .advantages-content__list-box .icon {
    width: 65.25px;
    height: 65.25px;
  }
  .services .advantages-content__list-box .text {
    font-size: 17px;
  }
  .services .packages {
    gap: 63.75px;
    padding-top: 115.5px;
  }
  .services .consultation {
    margin: 138px 0 136.5px;
  }
}
@media screen and (max-width: 1280px) {
  .services .main .image,
  .services .advantages .image {
    height: 384px;
  }
  .services .main-content {
    padding: 90px 0 99.33333px;
  }
  .services .including-content {
    padding: 18.66667px 0 102.66667px;
  }
  .services .including-content__title {
    margin-bottom: 40.66667px;
  }
  .services .including-content__list {
    gap: 37.33333px 2.08333vw;
  }
  .services .including-content__list-box {
    grid-gap: 10.66667px;
  }
  .services .including-content__list-box .icon {
    width: 38px;
    height: 38px;
  }
  .services .including-content__list-box .title {
    font-size: 19px;
    margin-top: 5.33333px;
  }
  .services .including-content__list-box .text {
    font-size: 13px;
  }
  .services .including-content__description {
    padding: 83.33333px 5.72917vw;
    margin-top: 23.33333px;
  }
  .services .including-content__description .text:last-child {
    margin-top: 15.06667px;
  }
  .services .including .image {
    height: 328px;
  }
  .services .advantages-content {
    gap: 44.66667px;
    padding: 90px 0 140.66667px;
  }
  .services .advantages-content__list-box {
    gap: 21.33333px;
  }
  .services .advantages-content__list-box .icon {
    width: 58px;
    height: 58px;
  }
  .services .advantages-content__list-box .text {
    font-size: 15px;
  }
  .services .packages {
    gap: 56.66667px;
    padding-top: 102.66667px;
  }
  .services .consultation {
    margin: 122.66667px 0 121.33333px;
  }
}
@media screen and (max-width: 1024px) {
  .services .main .image,
  .services .advantages .image {
    height: 307px;
  }
  .services .main-content {
    padding: 72px 0 79.46667px;
  }
  .services .including-content {
    padding: 14.93333px 0 82.13333px;
  }
  .services .including-content__title {
    margin-bottom: 32.53333px;
  }
  .services .including-content__list {
    gap: 29.86667px 2.08333vw;
  }
  .services .including-content__list-box {
    grid-gap: 8.53333px;
  }
  .services .including-content__list-box .icon {
    width: 30.4px;
    height: 30.4px;
  }
  .services .including-content__list-box .title {
    font-size: 15px;
    margin-top: 4.26667px;
  }
  .services .including-content__list-box .text {
    font-size: 11px;
  }
  .services .including-content__description {
    padding: 66.66667px 5.72917vw;
    margin-top: 18.66667px;
  }
  .services .including-content__description .text:last-child {
    margin-top: 12.05333px;
  }
  .services .including .image {
    height: 262px;
  }
  .services .advantages-content {
    gap: 35.73333px;
    padding: 72px 0 112.53333px;
  }
  .services .advantages-content__list-box {
    gap: 17.06667px;
  }
  .services .advantages-content__list-box .icon {
    width: 46.4px;
    height: 46.4px;
  }
  .services .advantages-content__list-box .text {
    font-size: 12px;
  }
  .services .packages {
    gap: 45.33333px;
    padding-top: 82.13333px;
  }
  .services .consultation {
    margin: 98.13333px 0 97.06667px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .services .main .image,
  .services .advantages .image {
    height: 298px;
  }
  .services .main-content {
    padding: 69.75px 0 76.98333px;
  }
  .services .including-content {
    padding: 14.46667px 0 79.56667px;
  }
  .services .including-content__title {
    margin-bottom: 31.51667px;
  }
  .services .including-content__list {
    gap: 28.93333px 2.08333vw;
  }
  .services .including-content__list-box {
    grid-gap: 8.26667px;
  }
  .services .including-content__list-box .icon {
    width: 29.45px;
    height: 29.45px;
  }
  .services .including-content__list-box .title {
    font-size: 14px;
    margin-top: 4.13333px;
  }
  .services .including-content__list-box .text {
    font-size: 10px;
  }
  .services .including-content__description {
    padding: 64.58333px 5.72917vw;
    margin-top: 18.08333px;
  }
  .services .including-content__description .text:last-child {
    margin-top: 11.67667px;
  }
  .services .including .image {
    height: 254px;
  }
  .services .advantages-content {
    gap: 34.61667px;
    padding: 69.75px 0 109.01667px;
  }
  .services .advantages-content__list-box {
    gap: 16.53333px;
  }
  .services .advantages-content__list-box .icon {
    width: 44.95px;
    height: 44.95px;
  }
  .services .advantages-content__list-box .text {
    font-size: 11px;
  }
  .services .packages {
    gap: 43.91667px;
    padding-top: 79.56667px;
  }
  .services .consultation {
    margin: 95.06667px 0 94.03333px;
  }
}
@media screen and (max-width: 767px) {
  .services .main-content,
  .services .including-content,
  .services .advantages-content,
  .services .packages-title {
    margin: 0 5vw;
  }
  .services .main .image {
    height: 300px;
  }
  .services .main-content {
    flex-direction: column;
    gap: 30px;
    padding: 60px 0 62px;
  }
  .services .main-content__text {
    width: 100%;
  }
  .services .including-content {
    padding: 0 0 60px;
  }
  .services .including-content__title {
    margin-bottom: 30px;
  }
  .services .including-content__list {
    gap: 40px;
    width: 100%;
  }
  .services .including-content__list-box {
    grid-gap: 8px;
    width: 100%;
  }
  .services .including-content__list-box .icon {
    width: 57px;
    height: 57px;
  }
  .services .including-content__list-box .title {
    margin-top: 8px;
    font-size: 24px;
  }
  .services .including-content__list-box .text {
    font-size: 16px;
  }
  .services .including-content__description {
    width: 100%;
    padding: 32px 0.78125vw;
    margin-top: 60px;
  }
  .services .including-content__description .text {
    text-align: center;
  }
  .services .including-content__description .text:last-child {
    margin-top: 23px;
  }
  .services .including .image {
    height: 505px;
  }
  .services .advantages-content {
    gap: 30px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 60px 0;
  }
  .services .advantages-content__title {
    width: 100%;
  }
  .services .advantages-content__list {
    flex-direction: column;
    gap: 60px;
  }
  .services .advantages-content__list-box {
    width: 100%;
    gap: 16px;
  }
  .services .advantages-content__list-box .icon {
    width: 87px;
    height: 87px;
  }
  .services .advantages-content__list-box .text {
    font-size: 18px;
  }
  .services .advantages .image {
    display: none;
  }
  .services .packages {
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  .services .consultation {
    margin: 60px 0 109px;
  }
}/*# sourceMappingURL=services.css.map */