.team .main,
.team .achievements,
.team .strategy {
  display: flex;
  padding: 0 18.28125vw;
}
.team .main,
.team .strategy {
  justify-content: space-between;
}
.team .main-text,
.team .strategy-text {
  width: 36.35417vw;
}
.team .main {
  margin: 303px 0 219px;
}
.team .achievements {
  align-items: center;
  gap: 7.03125vw;
  height: 571px;
  background-color: var(--clr-black);
}
.team .achievements-content {
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.team .achievements-content__title, .team .achievements-content__text {
  color: var(--clr-white);
}
.team .achievements-content__title {
  width: 27.08333vw;
}
.team .achievements-content__text {
  width: 30.88542vw;
}
.team .achievements-image {
  width: 33.3333333333vw;
  height: 100%;
  margin-right: -7.8125vw;
}
.team .strategy {
  margin: 254px 0 189px;
}
.team .specialists {
  padding-top: 34px;
}
.team .specialists-content {
  gap: 62px;
}
.team .specialists-content .description {
  width: 41.77083vw;
}
.team .specialists .members {
  margin-top: 62px;
}
.team .consultation {
  margin: 157px 0 168px;
}

@media screen and (max-width: 1600px) {
  .team .main {
    margin: 252.5px 0 182.5px;
  }
  .team .achievements {
    height: 476px;
  }
  .team .achievements-content {
    gap: 40.83333px;
  }
  .team .strategy {
    margin: 211.66667px 0 157.5px;
  }
  .team .specialists {
    padding-top: 28.33333px;
  }
  .team .specialists-content {
    gap: 51.66667px;
  }
  .team .specialists .members {
    margin-top: 51.66667px;
  }
  .team .consultation {
    margin: 130.83333px 0 140px;
  }
}
@media screen and (max-width: 1440px) {
  .team .main {
    margin: 227.25px 0 164.25px;
  }
  .team .achievements {
    height: 428px;
  }
  .team .achievements-content {
    gap: 36.75px;
  }
  .team .strategy {
    margin: 190.5px 0 141.75px;
  }
  .team .specialists {
    padding-top: 25.5px;
  }
  .team .specialists-content {
    gap: 46.5px;
  }
  .team .specialists .members {
    margin-top: 46.5px;
  }
  .team .consultation {
    margin: 117.75px 0 126px;
  }
}
@media screen and (max-width: 1280px) {
  .team .main {
    margin: 202px 0 146px;
  }
  .team .achievements {
    height: 381px;
  }
  .team .achievements-content {
    gap: 32.66667px;
  }
  .team .strategy {
    margin: 169.33333px 0 126px;
  }
  .team .specialists {
    padding-top: 22.66667px;
  }
  .team .specialists-content {
    gap: 41.33333px;
  }
  .team .specialists .members {
    margin-top: 41.33333px;
  }
  .team .consultation {
    margin: 104.66667px 0 112px;
  }
}
@media screen and (max-width: 1024px) {
  .team .main {
    margin: 161.1px 0 116.8px;
  }
  .team .achievements {
    height: 305px;
  }
  .team .achievements-content {
    gap: 26.13333px;
  }
  .team .strategy {
    margin: 135.46667px 0 100.8px;
  }
  .team .specialists {
    padding-top: 18.13333px;
  }
  .team .specialists-content {
    gap: 33.06667px;
  }
  .team .specialists .members {
    margin-top: 33.06667px;
  }
  .team .consultation {
    margin: 83.73333px 0 89.6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .team .main {
    margin: 156.55px 0 113.15px;
  }
  .team .achievements {
    height: 295px;
  }
  .team .achievements-content {
    gap: 25.31667px;
  }
  .team .strategy {
    margin: 131.23333px 0 97.65px;
  }
  .team .specialists {
    padding-top: 17.56667px;
  }
  .team .specialists-content {
    gap: 32.03333px;
  }
  .team .specialists .members {
    margin-top: 32.03333px;
  }
  .team .consultation {
    margin: 81.11667px 0 86.8px;
  }
}
@media screen and (max-width: 767px) {
  .team .main,
  .team .achievements-content,
  .team .strategy {
    padding: 0 5vw;
  }
  .team .main,
  .team .strategy {
    flex-direction: column;
    gap: 47px;
    margin-bottom: 89px;
  }
  .team .main-text,
  .team .strategy-text {
    width: 100%;
  }
  .team .main {
    margin-top: 116px;
  }
  .team .achievements {
    flex-direction: column;
    gap: 87px;
    height: -moz-max-content;
    height: max-content;
    padding: 35px 0 0;
  }
  .team .achievements-content {
    gap: 24px;
  }
  .team .achievements-content__title, .team .achievements-content__text {
    width: 100%;
  }
  .team .achievements-image {
    width: 100%;
    height: 89.375vw;
    margin-right: 0;
  }
  .team .strategy {
    margin-top: 89px;
  }
  .team .specialists {
    padding-top: 0;
  }
  .team .specialists-content {
    gap: 22px;
  }
  .team .specialists-content .description {
    width: 100%;
  }
  .team .specialists .members {
    margin-top: 84px;
  }
  .team .consultation {
    margin: 85px 0 135px;
  }
}/*# sourceMappingURL=team.css.map */