.footer {
  padding: 83px 18.28125vw 124px;
}
.footer-logo {
  margin-right: 9.84375vw;
}
.footer-menu {
  flex-direction: column;
  gap: 4px;
}
.footer-content {
  display: grid;
  grid-gap: 60px;
  margin-left: 13.02083vw;
}
.footer-content .social,
.footer-content .website {
  display: flex;
  align-items: center;
}
.footer-content .social {
  gap: 1.25vw;
}
.footer-content .website {
  gap: 1.30209vw;
}
.footer-content .website-text {
  color: var(--clr-white);
  font-family: Montserrat;
  font-size: 16px;
}

@media screen and (max-width: 1600px) {
  .footer {
    padding: 69.16667px 18.28125vw 103.33333px;
  }
  .footer-logo {
    width: 80.83333px;
  }
  .footer-content {
    grid-gap: 50px;
  }
  .footer-content .social-icon {
    width: 26.66667px;
  }
  .footer-content .website-text {
    font-size: 14px;
  }
  .footer-content .website-logo {
    width: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .footer {
    padding: 62.25px 18.28125vw 93px;
  }
  .footer-logo {
    width: 72.75px;
  }
  .footer-content {
    grid-gap: 45px;
  }
  .footer-content .social-icon {
    width: 24px;
  }
  .footer-content .website-text {
    font-size: 12px;
  }
  .footer-content .website-logo {
    width: 27px;
  }
}
@media screen and (max-width: 1280px) {
  .footer {
    padding: 55.33333px 18.28125vw 82.66667px;
  }
  .footer-logo {
    width: 64.66667px;
  }
  .footer-content {
    grid-gap: 40px;
  }
  .footer-content .social-icon {
    width: 21.33333px;
  }
  .footer-content .website-text {
    font-size: 11px;
  }
  .footer-content .website-logo {
    width: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 44.26667px 18.28125vw 66.13333px;
  }
  .footer-logo {
    width: 51.73333px;
  }
  .footer-content {
    grid-gap: 32px;
  }
  .footer-content .social-icon {
    width: 17.06667px;
  }
  .footer-content .website-text {
    font-size: 9px;
  }
  .footer-content .website-logo {
    width: 19.2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer {
    padding: 42.88333px 18.28125vw 64.06667px;
  }
  .footer-logo {
    width: 50.11667px;
  }
  .footer-content {
    grid-gap: 31px;
  }
  .footer-content .social-icon {
    width: 16.53333px;
  }
  .footer-content .website-text {
    font-size: 8px;
  }
  .footer-content .website-logo {
    width: 18.6px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 32px;
    padding: 24px 7.1875vw;
  }
  .footer-logo {
    width: 65px;
    height: 56px;
    margin: 0;
  }
  .footer-menu {
    grid-gap: 2px;
  }
  .footer-menu__text {
    padding: 10px 0;
  }
  .footer-content {
    grid-gap: 49px;
    margin: 1px 0 10px;
  }
  .footer-content .social {
    gap: 7.5vw;
  }
  .footer-content .social-icon {
    width: 32px;
    height: 32px;
  }
  .footer-content .website {
    gap: 0;
  }
  .footer-content .website-text {
    width: 51.25vw;
    font-size: 14px;
  }
  .footer-content .website-logo {
    width: 36px;
  }
}/*# sourceMappingURL=footer.css.map */