@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './styles/layouts/header.scss';
@import './styles/layouts/footer.scss';
@import './styles/layouts/sidebar.scss';
@import './styles/pages/home.scss';
@import './styles/pages/services.scss';
@import './styles/pages/team.scss';
@import './styles/pages/projects.scss';
@import './styles/pages/detail.scss';
@import './styles/pages/about.scss';

:root {
	--clr-white: #FFF;
  --clr-black: #000;
  --clr-grey: #DBDBDB;
  --clr-grey-1: #9E9E9E;
  --clr-grey-2: #4A4A4A;
  --clr-line: #EBEBEB;
  --clr-active: #D9D9D9;
  --clr-disabled: #979797;
}

* {
	box-sizing: border-box;
	transition: all;
	transition-duration: .3s;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	display: block;
	width: 100%;
	font-family: Inter;
	font-style: normal;
	margin: 0 auto;
	&.freeze {
    overflow: hidden;
  }
}

// button,
input {
	border: none;
	outline: none;
}

input {
	background: transparent;
}

img {
	background-repeat: no-repeat;
	object-fit: cover;
}

ul {
	list-style-type: none;
}

a {
	font-size: 20px;
	color: var(--clr-white);
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h2, h3, h5 {
	font-family: Sofia Sans;
	font-weight: 500;
}
h2 {
	font-size: 60px;
}
h3 {
	font-size: 32px;
	line-height: 110%; /* 35.2px */
}
h4 {
	font-size: 40px;
	font-weight: 400;
}
h5 {
	font-size: 24px;
	line-height: 130%; /* 31.2px */
}
h6 {
	font-weight: 400;
}
p {
	font-size: 24px;
	font-weight: 400;
}

.btn {
	cursor: pointer;
}

.header,
.footer {
	display: flex;
	width: 100%;
	background-color: var(--clr-black);
	&-menu {
    display: flex;
    &__text {
      position: relative;
      white-space: nowrap;
			width: fit-content;
      padding: 10px .52083vw;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background-color .3s ease-in-out;
        width: 100%;
        height: 2px;
        background-color: transparent;
      }
      &:hover::after {
        background-color: var(--clr-white);
      }
    }
  }
}

.bigtext {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	height: max-content;
	z-index: -1;
}

@media screen and (max-width: 1600px) {
	a {
		font-size: 17px;
	}
	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 27px;
	}
	h4 {
		font-size: 33px;
	}
	h5, p {
		font-size: 21px;
	}
	.header,
	.footer {
		&-menu__text {
			padding: 8.33333px .52083vw;
		}
	}
}

@media screen and (max-width: 1440px) {
	a {
		font-size: 15px;
	}
	h2 {
		font-size: 45px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 30px;
	}
	h5, p {
		font-size: 18px;
	}
	.header,
	.footer {
		&-menu__text {
			padding: 7.5px .52083vw;
		}
	}
}

@media screen and (max-width: 1280px) {
	a {
		font-size: 13px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 21px;
	}
	h4 {
		font-size: 27px;
	}
	h5, p {
		font-size: 16px;
	}
	.header,
	.footer {
		&-menu__text {
			padding: 6.66667px .52083vw;
		}
	}
}

@media screen and (max-width: 1024px) {
	a {
		font-size: 11px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 17px;
	}
	h4 {
		font-size: 21px;
	}
	h5, p {
		font-size: 13px;
	}
	.header,
	.footer {
		&-menu__text {
			padding: 5.33333px .52083vw;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	a {
		font-size: 10px;
	}
	h2 {
		font-size: 31px;
	}
	h5, p {
		font-size: 12px;
	}
	.header,
	.footer {
		&-menu__text {
			padding: 5.16667px .52083vw;
		}
	}
}

@media screen and (max-width: 992px) {
	.header,
	.footer {
		&-menu__text::after {
			height: 1px;
		}
	}
}

@media screen and (max-width: 767px) {
	a {
		font-size: 20px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 24px;
		font-weight: 500;
	}
	h5 {
		font-size: 16px;
		font-weight: 400;
	}
	p {
		font-size: 16px;
	}
}
